.statistics {
  max-width: 250px;
  color: gray;
  background-color: #fff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-transform: uppercase;
  font-size: 15px;
}
.list {
  display: flex;
  margin: 0;
}
.item {
  width: calc(250px / 5);
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  color: #fff;
}
.item:hover {
  box-shadow: 1px 1px 3px 0 gray;
}
.label {
  font-size: 11px;
  margin-bottom: 5px;
}
.percentage {
  font-size: 14px;
}
